server:
  port: 8082
  
spring:
  datasource:
      url: jdbc:postgresql://localhost:5432/userdb
      driver-class-name: org.postgresql.Driver
      username: postgres
      password: root
      
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    
logging:
  level:
    '[org.springframework.security]': DEBUG    